.form {
  margin-top: 0;
  border-radius: 8px;
  width: 300px;
  margin: 50px auto;
}
.form__title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;

}
.login{
  text-decoration: none;
  color: black;
  font-weight: bold;
}